<h1>BURGERS!</h1>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="name">Burger Name:</label>
    <input type="text" id="name" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>

<h2>Burgers that I want to eat:</h2>

<ol>
  {{#each burgers}}
    {{#unless devoured}}
    <li>
        <p>{{burger_name}}</p>
        <button class="devour" data-id="{{id}}" type="submit">Devour {{burger_name}}</button>

    </li>
    {{/unless}}
  {{/each}}
</ol>

<h2>Burgers that I devoured!</h2>

<ol>
  {{#each burgers}}
    {{#if devoured}}
      <li>
          <p>{{burger_name}}</p>
      </li>
    {{/if}}
  {{/each}}
</ol>
